.table-wrapper {
    height: 320px;
    border: 1px solid #ffffff;
    overflow: auto;
}

table {
    border-spacing: 0;
}

thead {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

tbody {
    font-size: 14px;
}

.service_sticky_table th,
.service_sticky_table td {
  padding: 10px 10px;
  white-space: nowrap;
  border-bottom: 1px solid #ffffff; /* Apply bottom border here */
}
td{
    vertical-align: top !important;
}
tbody tr td:first-child{
    vertical-align: middle !important;
}

tr:last-child td {
    border-bottom: none;
}

th:first-child {
    background-color: #141414 !important;
}



.service_sticky_table th:nth-child(2) {
    background-color: #455CFF80 !important;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
}

.service_sticky_table th:nth-child(3) {
    background-color: #ffffff !important;
    color: #141414;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;

}

.service_sticky_table th:nth-child(4) {
    background-color: #ffffff !important;
    color: #141414;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
}

.service_sticky_table tbody tr td:nth-child(2) {
    background-color: #455CFF80 !important;
}

tbody tr td {
    border-right: 1px solid #ffffff;
}


tbody tr td:nth-child(2) {
    border-left: none;
}

/*
STICKY ROW
Normal css box-shadow works for the header as it is a single html element
*/

tr.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #141414;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}


/*
STICKY COLUMN
Avoid undesirable overlapping shadows by creating a faux shadow on the ::after psudo-element instead of using the css box-shadow property.
*/

th.sticky,
td.sticky {
    position: sticky;
    left: 0;
    background: #141414;
}

th.sticky::after,
td.sticky::after {
    content: "";
    position: absolute;
    right: -6px;
    top: 0;
    bottom: -1px;
    width: 5px;
    border-left: 1px solid #ffffff;
    ;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0) 100%);
}

th.sticky::before,
td.sticky::before {
    content: "";
    position: absolute;
    left: -6px;
    top: 0;
    bottom: -1px;
    width: 5px;
    border-right: 1px solid #ffffff;
    ;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.08) 100%);
}